<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Авторизация</title>
</head>
<body>
    <h2>Ввод пароля</h2>
    <form method="post" action="postupdatepassword/">
        {% csrf_token %}
        <p>Телефон:<br> <input name="phone" value="{{ phone }}" /></p>
        <p>Пароль:<br> <input name="password" value="{{ password }}" /></p>
        <p>Новый пароль:<br> <input name="newpassword" value="{{ newpassword }}" /></p>
        <input type="submit" value="Войти" />
    </form>
</body>
</html>