<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Авторизация</title>
</head>
<body>
    <h2>Авторизация</h2>
    <form method="post" action="postphone/">
        {% csrf_token %}
        <p>Телефон:<br> <input name="phone" value="{{ phone }}" /></p>
        <p>Наименование пользователя:<br> <input name="name" value="{{ name }}" /></p>
        {% if fl == 1 %}
        <p>Телефон отсутствует. Введите код: {{ random }}</p>
        <p>Код:<br> <input name="code" value="{{ code }}" /></p>
        {% endif %}
        <input type="submit" value="Войти" />
    </form>
</body>
</html>